* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-size: 62.5%;
	font-family: 'Roboto Sans', Helvetica, Arial, Sans-Serif;
	overflow: hidden;
}

#root {
	overflow: hidden;
}

.jokeDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;

	max-width: 100%;
	width: 100%;
	padding: 16px;
	
	text-align: center;
	color: rgba(0, 0, 0, .87);
}

.jokeDisplay_content {
	font-size: 2rem;
	font-weight: 600;
	padding: 16px;
}

.navigationArrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	overflow: hidden;
	cursor: pointer;
	transition: all 250ms;
	background-color: rgba(255, 255, 255, .57);
}

.navigationArrow--left {
	transform: translateX(-10px);
	background-color: rgba(255, 255, 255, .27);
}

.navigationArrow--right {
	transform: translateX(10px);
}

.navigationArrow--enabled {
	opacity: 1;
}

.navigationArrow--disabled {
	opacity: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1.5s infinite;
}